.auth-layout {
    width: 100%;
    height: 100%;

    .auth-content {
        height: 100%;

        .auth-view-ctn {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    
}