.launch-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    #sky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: -webkit-linear-gradient(#00111e 30%, #033d5e);
        background: -moz-linear-gradient(#00111e 30%, #033d5e);
        background: -o-linear-gradient(#00111e 30%, #033d5e);
        background: linear-gradient(#00111e 30%, #033d5e);
    }

    .title-ctn {    
        flex-basis: 40%;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        h1 {
            font-size: 3rem;
            font-weight: 900;
            color: #fff;
            text-shadow: 0 0 50px black;
            text-transform: uppercase;
            font-family: 'Roboto','Helvetica','Arial',sans-serif;
            letter-spacing: 5px;
        }

        p {
            font-size: 1.2rem;
            font-weight: normal;
            color: #bdc3c7;
            text-transform: none;

            span {
                a {
                    color: #fd7e14 !important;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

    }

    .opt-ctn {
        flex-basis: 60%;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        
        button {
            padding: 20px 50px;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: 'Roboto','Helvetica','Arial',sans-serif;
            border: 0px solid transparent;
            background-color: transparent;
            color: #fff;
            opacity: .6;
            border-radius: 5px;

            &:hover {
                border: 1px solid #fff;
                background-color: transparent;
                opacity: 1;
                cursor: pointer;
            }
            
        }
    }

}