@media only screen and (max-width : 479px) {

    h1 {
        font-size: 2rem !important;
        letter-spacing: 3px !important;

        p {
            font-size: .8rem !important;
        }
    }

    .opt-ctn {
        justify-content: space-around !important;
        align-items: center !important;
        
        button {
            padding: 10px 10px !important;
            font-size: 1.3rem !important;
        }
    }

}
