.sec-content-ctn {
    display: flex;

    div.sec-content-title-ctn {
        flex-basis: 20%;

        h4 {
            font-size: .8rem;
        }

        h5 {
            font-size: .7rem;
        }

        p {
            font-size: .7rem;
        }
    }

    div.sec-content-divider-ctn {
        flex-basis: 10%;
        padding: 0 10px;

        .sec-content-divider-vertical {
            height: 100%;
        }
    }

    div.sec-content-dsc-ctn {
        flex-basis: 70%;

    }
}